/* Basic styling for the navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;

  /* Add padding-top to body to prevent content from being hidden behind the fixed navbar */
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  margin-right: 15px;
}
.navbar ul li:last-child {
  margin-right: 0;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
